<html>
    <head>
        <title>Carotina's blog</title>
    </head>
      <body>
        <div>
          <h1><strong> Benvenuto in Carotina's Blog </strong></h1>
        </div>
        <div>
          <h2> Qua troverai informazioni di vario tipo....<em>esplora!</em></h2>
        </div>
        <div>
          <p>questa pagina è stata creata grazie a <a href="https://djangogirls.org">https://djangogirls.org</a></p>
        </div>
        <div>
          <p>It works!</p>
        </div>
      </body>
</html>
